@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.min.css";

@layer base {
  :root {
    --palette1: #006D77;
    --palette2: #83C5BE;
    --palette3: #EDF6F9;
    --palette4: #FFDDD2;
    --palette5: #E29578;
  }
  .dark {
    --palette1: #62C8C2;
    --palette2: #2E7A80;
    --palette3: #0C2B2F;
    --palette4: #3D2D26;
    --palette5: #E29578;
  }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar#css_scrollbar_selectors */
::-webkit-scrollbar {
  color: white;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  color: darkgray;
  background-color: darkgray;
  height: 20px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar {
  background-color: #0c2b2f;
}

.dark ::-webkit-scrollbar-track {
  background-color: #1a4a50;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #2e7a80;
}
