@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.min.css";

/* https://gist.github.com/dmurawsky/d45f068097d181c733a53687edce1919 */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar#css_scrollbar_selectors */
::-webkit-scrollbar {
  color: white;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  color: darkgray;
  background-color: darkgray;
  height: 20px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}
